<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="io.quarkus.eclipse.ui.wizards"
            name="Quarkus">
      </category>
      <wizard
            category="io.quarkus.eclipse.ui.wizards"
            class="io.quarkus.eclipse.ui.wizard.CreateProjectWizard"
            icon="icon/quarkus-16.png"
            id="io.quarkus.eclipse.ui.wizard.createProject"
            name="Create New Quarkus Project">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="io.quarkus.eclipse.ui.views"
            name="Quarkus">
      </category>
      <view
            category="io.quarkus.eclipse.ui.views"
            class="io.quarkus.eclipse.ui.view.ExtensionsView"
            icon="icon/quarkus-16.png"
            id="io.quarkus.eclipse.ui.view.extensionsView"
            name="Quarkus Extensions"
            restorable="true">
      </view>
   </extension>
</plugin>
