<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="io.quarkus.eclipse.wizards"
            name="Quarkus">
      </category>
      <wizard
            category="io.quarkus.eclipse.wizards"
            class="io.quarkus.eclipse.ui.wizard.CreateProjectWizard"
            icon="icon/quarkus-16.png"
            id="io.quarkus.eclipse.ui.wizard.createProject"
            name="Create New Quarkus Project">
      </wizard>
   </extension>
</plugin>
