name: Build and Test

on:
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ${{ matrix.os }} # compiles and test on Ubuntu

    strategy:
      matrix:
        os: [ubuntu-latest]
        java: ["17"]
      fail-fast: false

    steps:
    - name: Checkout PR branch
      uses: actions/checkout@v3
      with:
        ref: ${{ github.event.pull_request.head.sha }}
        fetch-depth: 0

    # Checkout global JBT settings.xml
    - name: Checkout JBoss Tools Build CI
      uses: actions/checkout@v3
      with:
        repository: jbosstools/jbosstools-build-ci
        path: build-ci

    # Java JDK 11 used for maven build
    - name: Setup Java ${{ matrix.java }}
      uses: actions/setup-java@v3
      with:
        java-version: ${{ matrix.java }}
        java-package: jdk # (jre, jdk, or jdk+fx) - defaults to jdk
        architecture: x64
        distribution: 'temurin'
        cache: maven
    # Install Maven 3.9
    - name: Set up Maven
      uses: stCarolas/setup-maven@07fbbe97d97ef44336b7382563d66743297e442f #v4.5
      with:
        maven-version: 3.9.4

    # Try to find and apply jbosstools cache
    - name: Cache local Maven repository for JBoss Tools components
      uses: actions/cache@v3
      with:
        path: ~/.m2/repository
        key: jbosstools-${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
        restore-keys: |
          jbosstools-${{ runner.os }}-maven-

    # Build and compile using Maven
    - name: Build/Compile and run unit tests
      uses: GabrielBB/xvfb-action@86d97bde4a65fe9b290c0b3fb92c2c4ed0e5302d #v1
      with:
        run: >
          mvn clean verify -U -fae --settings build-ci/maven-settings.xml -DskipITests=true
          -Dmaven.test.error.ignore=true -Dmaven.test.failure.ignore=true -ntp

    # Archive artifacts to be applied in Publish Reports workflow
    - name: Archiving test artifacts
      uses: actions/upload-artifact@v2
      with: 
        name: ${{ matrix.os }}-${{ matrix.java }}-test-reports
        path: |
          *tests/*/target/surefire-reports/
          */*tests/*/target/surefire-reports/
          **/*.log
